name: ET CI Checks

on: [push, pull_request, workflow_dispatch]

jobs:

  ls_linting:
    runs-on: ubuntu-latest
    steps:  
      - uses: actions/checkout@v4
      - uses: ls-lint/action@v2.2.3

  md_formatting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: nosborn/github-action-markdown-cli@v3.3.0
        with:
          files: .
          config_file: .markdownlint.yml

  py_formatting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Skip Python Formatting
        run: echo "No Python files to format. Skipping Ruff."

  py_linting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Skip Python Linting
        run: echo "No Python files to lint. Skipping Ruff and pylint."

  py_tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Skip Python Tests
        run: echo "No Python test files found. Skipping tests."

  py_notebook_linting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Skip Notebook Linting
        run: echo "Notebook linting disabled to prevent false errors."
